.DS_Store
*~
\#*\#
.#*
*.swp
*.orig
*.rej

/.test-cache/
.rumdl_cache/

/config/emacs/*
!/config/emacs/early-init.el
!/config/emacs/init.el
!/config/emacs/lisp/
*.elc
*.eln

/config/nvim/lua/config/local.lua
/config/nvim/spell/*.spl
